.container {
  margin: 20px auto;
  padding: 20px;
  max-width: 400px;
  font-family: Arial, sans-serif;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #d6c5c5;
}

.form {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 8px;
  margin: 8px 0 16px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.result {
  margin-top: 15px;
  padding: 10px;
  background-color: #f4f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
}
